<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <context:annotation-config/>
	<bean id="student" class="com.models.Student">
	<property name="age" value="23" />	
	<property name="name" value="John" />	
	</bean>
	<bean id="cStartEventHandler" class="com.models.CStartEventHandler" />
	<bean id="cStoppedEventHandler" class="com.models.CStoppedEventhandler" />
	<bean id="customEventHandler" class="com.models.CustomEventHandler" />
	<bean id="customEventPublisher" class="com.models.CustomEventPublisher" />
	</beans>